#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Icon[it_IT]=/usr/share/OpenGenova/scripts/xliguria.png
Name[it_IT]=xLiguria config
Exec=/usr/share/OpenGenova/scripts/rssNotifyEnabler.py
Comment[it_IT]=Configura le news WebTV
Name=xLiguria setup
Comment=Configura le news WebTV di xLiguria
Icon=/usr/share/OpenGenova/scripts/xliguria.png
Categories=Utility;
