[Desktop Entry]
Name=OGNotifier
GenericName=OpenGenova rss suggested feed
Comment=get last news 
Exec=/usr/share/OpenGenova/scripts/rssNotifier.py
Terminal=false
Type=Application
Icon=/usr/share/OpenGenova/scripts/OpenGenovaLogo.png
Categories=Network;FileTransfer;
StartupNotify=false
