[Desktop Entry]
Name=xLiguria
GenericName=xliguria rss feed
Comment=get last news from xliguria
Exec=/usr/share/OpenGenova/scripts/rssNotifier.py
Terminal=false
Type=Application
Icon=/usr/share/OpenGenova/scripts/xliguria.png
Categories=Network;FileTransfer;
StartupNotify=false
